@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out forwards;
}

html, body, #root {
  height: 100%;
  background-color: #020617; /* slate-950 */
}
